[Unit]
Description=mqtt-bed service

[Service]
ExecStart=/home/pi/bin/mqtt-bed/mqtt-bed.py
WorkingDirectory=/home/pi
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target
